./nrf52-LoRa-Config-BLE-Pio/.pio
./nrf52-LoRa-Config-BLE-Pio/.vscode/.browse.c_cpp.db*
./nrf52-LoRa-Config-BLE-Pio/.vscode/c_cpp_properties.json
./nrf52-LoRa-Config-BLE-Pio/.vscode/launch.json
./nrf52-LoRa-Config-BLE-Pio/.vscode/ipch